{extend name="common:base"}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>登录名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" required="" lay-verify="required|username"
                           value=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>将会成为您唯一的登入名
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="password" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repassword" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="rnd" class="layui-form-label">
                    <span class="x-red">*</span>登录安全码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="rnd" name="rnd" required="" lay-verify="require|min6"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="超级管理员" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="编辑人员">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="宣传人员" checked="">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    保存
                </button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="copyright"}

{/block}
{block name="javascript"}
<script>
    layui.use(['form', 'layer'], function () {
        const $ = layui.jquery;
        const form = layui.form,
            layer = layui.layer;
        //自定义验证规则
        form.verify({
            username: function (value) {
                if (value.length < 5) {
                    return '用户名不能少于五个字符';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            },
            min6: function (value) {
                if (value.length < 6) {
                    return "安全吗不能少于6个字符"
                }
            }
        });
        //监听提交
        form.on('submit(add)',
            function (data) {
                $.ajax({
                    url:'{:url(\'add\')}',
                    type:'POST',
                    data:data.field,
                    success:function (result) {
                        if(result.status === 1){
                            layer.msg(result.message, {icon: 6,time:1000}, function () {
                                    xadmin.father_reload();
                                });
                        }else {
                            layer.msg(result.message,{icon:5,time:2000});
                        }
                    }
                },'JSON');
                return false;
            });
    });
</script>
{/block}